[defaults]
inventory = inventario/hosts.yml
host_key_checking = False
stdout_callback = default
remote_tmp = /tmp/.ansible/tmp
callbacks_enabled = timer, profile_tasks
become_method = sudo
[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False
[ssh_connection]
pipelining = False
