[defaults]
# Dónde está el inventario de hosts
inventory = inventario/hosts.yml
# No verificar la clave SSH de hosts nuevos (útil en laboratorio)
# EN PRODUCCIÓN esto debe ser "True"
host_key_checking = False
# Formato de salida más legible
stdout_callback = yaml
# Ruta donde Ansible guarda ficheros temporales en los hosts gestionados
remote_tmp = /tmp/.ansible/tmp
# Muestra el tiempo que tarda cada tarea
callbacks_enabled = timer, profile_tasks
# Configuración de sudo
become_method = sudo

[ssh_connection]
# Desactivado para permitir become/sudo en conexiones locales
pipelining = False
