# Configuración Nginx proxy inverso - TFG ASIR
# Gestionado por Ansible - no editar manualmente

# Redirigir HTTP → HTTPS
server {
    listen 80;
    server_name proxy01.laboratorio.local intranet.netcorp.local www.netcorp.local mail.netcorp.local;
    return 301 https://$host$request_uri;
}

# Proxy inverso HTTPS
server {
    listen 443 ssl;
    server_name proxy01.laboratorio.local intranet.netcorp.local www.netcorp.local mail.netcorp.local;

    ssl_certificate     /etc/ssl/certs/proxy.crt;
    ssl_certificate_key /etc/ssl/private/proxy.key;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5;

    access_log /var/log/nginx/proxy01_access.log;
    error_log  /var/log/nginx/proxy01_error.log;

    # Página propia del proxy
    location /info {
        alias /var/www/proxy01/;
        index index.html;
        try_files $uri $uri/ =404;
    }

    # Reenviar todo lo demás a web01
    location / {
        proxy_pass https://{{ contenedores.web.ip }};
        proxy_ssl_verify off;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_connect_timeout 10s;
        proxy_read_timeout    30s;
    }
}
