$ModLoad imuxsock
$ModLoad imklog
$ModLoad imudp
$UDPServerRun 514
$ModLoad imtcp
$InputTCPServerRun 514

$template netcorp-fmt,"%timegenerated% %fromhost-ip% %HOSTNAME% %syslogtag%%msg%\n"

# Log general - recibe TODOS los mensajes siempre
*.* action(type="omfile"
           file="/var/log/laboratorio/all.log"
           template="netcorp-fmt")

# Logs por servicio adicionalmente
if $fromhost-ip == '172.22.0.11' then
    action(type="omfile" file="/var/log/laboratorio/ssh.log" template="netcorp-fmt")

if $fromhost-ip == '172.22.0.12' then
    action(type="omfile" file="/var/log/laboratorio/dns.log" template="netcorp-fmt")

if $fromhost-ip == '172.22.0.13' then
    action(type="omfile" file="/var/log/laboratorio/dhcp.log" template="netcorp-fmt")

if $fromhost-ip == '172.22.0.14' then
    action(type="omfile" file="/var/log/laboratorio/web.log" template="netcorp-fmt")

if $fromhost-ip == '172.22.0.15' then
    action(type="omfile" file="/var/log/laboratorio/proxy.log" template="netcorp-fmt")

if $fromhost-ip == '172.22.0.16' then
    action(type="omfile" file="/var/log/laboratorio/squid.log" template="netcorp-fmt")

if $fromhost-ip == '172.22.0.17' then
    action(type="omfile" file="/var/log/laboratorio/mysql.log" template="netcorp-fmt")
